@using Litium.Accelerator.ViewModels.Product;
@model TextOptionImportPageViewModel

@{
    ViewContext.RouteData.DataTokens["BareLayout"] = true;
}

<div style="padding: 15px;">
    <h1>@Model.Title</h1>

    @Html.Raw(Model.Text)

    @using (Html.BeginForm("Index", "TextOptionImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        <h4>Upload File:</h4>
        <input type="file" name="file" id="file" />
        <br />
        <br />

        <h4>TextOption Area:</h4>
        <div style="width: 300px;">
            @Html.DropDownListFor(model => model.Area, Model.Areas)
        </div>
        <br />
        <br />

        <h4>TextOption MultiCulture:</h4>
        @Html.CheckBoxFor(m => m.IsMultiCulture)
        <br />
        <br />

        <h4>TextOption ID:</h4>
        @Html.TextBoxFor(m => m.TextOptionName)
        <br />
        <br />

        <input type="submit" value="Import" />
    }

    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <h3 style="color: @(Model.Success ? "green" : "red");">@Model.Message</h3>
    }
</div>